
.containerStyle {
    padding-top: 10vh;
    height: 72vh;
    background-image: url("/assets/bgleft.png"), url("/assets/bgright.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-size: 50vw, 50vw;
}

.rowStyle {
    padding-bottom: 5vh

}
.columnStyle {

}

.btnStyle {
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    width: 60%;
    color: white;
    font-weight: bold;
    border-color: #66FCF1;
}

 .arrowStyle {
    color: #FFFFFF;
}

.arrow {
    text-align: center;
    margin: 8% 0;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }